<ng-include src="includes.header"> </ng-include>
<div class="grid-container">
	<div class="mobile-grid-100 grid-parent" ng-show="pageState == 'displayPrincipalSearch'">
		<form ng-submit="getSession(principal)" name="lostPassForm">
			<div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 whitebox">
				<div class="grid-100">
					<div class="mobile-grid-100 grid-parent">
						<div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
							<h1 class="center grey">Forgot <span class="primary">Zentry</span> Password</h1>
			        		<p translate class="small grey mobile-grid-100 tablet-grid-100 grid-100">Please Enter your Email or Phone Number so we can find your account</p>
			        	</div>
		    		</div>
					<div class="mobile-grid-100 grid-100 grid-parent relative">
			            <div class="mobile-grid-100 tablet-grid-100 grid-100 info">
				            <div id="messageDiv" class="result-error-value mobile-grid-95 mobile-suffix-5 tablet-grid-95 tablet-suffix-5 grid-85 prefix-5 suffix-10 messages">
			                	<p id="errorMessage" ng-bind-html="generalMessage" ng-show="generalMessage" class="error"></p>
				                <p ng-show="info" class="info">D'oh! Did you forget which email you used before? No worries, try another one or try entering a phone number. I'll be right here.</p>
				            </div>
			                <!-- <div class="icon-info" ng-class="{ 'purple': info }" ng-click="info = !info"></div> -->
			                <input required name="principalText" ng-model="principal" id="principalText" class="mobile-grid-100 tablet-grid-100 grid-100 form-control" type="text" />
			                <label for="principalText" translate>Email or Phone</label>
			            </div>
			            <div class="mobile-grid-100 tablet-grid-100 grid-100">
							<input type="submit" id="findPrincipalsButton" class="btn primary mobile-grid-100 tablet-grid-100 top-mar20 grid-100" ng-disabled="(lostPassForm.$valid&&findPrincipalsButtonEnabled) ?  false : true" value="SUBMIT" />
				        </div>
					</div>
				</div>
			</div>
		</form>
	</div>



	<div ng-show="pageState == 'displaySendOtpOptions'">
		<form ng-submit="sendOtp()" name="lostPassFrom">
			<div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 whitebox">
				<div class="grid-100">
					<div class="mobile-grid-100 grid-parent">
						<div class="mobile-grid-100 tablet-grid-100 grid-100">
							<h1 class="center grey">Forgot <span class="primary">Zentry</span> Password</h1>
			        		<p translate class="small grey mobile-grid-100 tablet-grid-100 grid-100">Where can I send your secret code or enter security token</p>
			        	</div>
		    		</div>
					<div class="mobile-grid-100 grid-100 grid-parent relative">
			            <div class="mobile-grid-100 tablet-grid-100 grid-100">
				            <div id="messageDiv" class="result-error-value mobile-grid-95 mobile-suffix-5 tablet-grid-95 tablet-suffix-5 grid-85 prefix-5 suffix-10 messages">
			                	<p id="errorMessage" ng-bind-html="generalMessage" ng-show="generalMessage" class="error"></p>
				                <p ng-show="info" class="info">D'oh! Did you forget which email you used before? No worries, try another one or try entering a phone number. I'll be right here.</p>
				            </div>
				            <input type='radio' name='verifiedPrincipal.name' ng-model='checkboxSelection' value='{{verifiedPrincipal.name}}' id='{{verifiedPrincipal.name}}' ng-change="setMethod(verifiedPrincipal.method)">
							<label for="{{verifiedPrincipal.name}}" class="showLabel">{{verifiedPrincipal.name}}</label>
					    </div>
					    <div class="mobile-grid-100 tablet-grid-100 grid-100">
							<input selected type='radio' name='totp' ng-model='checkboxSelection' value='totp' id='totp' ng-change="setMethod('totp')">
							<input name="enterTokenText" ng-model="totp" id="enterTokenText" class="mobile-grid-100 tablet-grid-100 grid-100 form-control" type="text" />
							<label for="totp" class="showLabel" translate>Enter Security Token</label>
			            </div>
			            <div class="mobile-grid-100 tablet-grid-100 grid-100">
							<input type="submit" id="sendOtpButton" class="btn primary mobile-grid-100 tablet-grid-100 grid-100" ng-disabled="lostPassForm.$invalid" value="Send OTP" />
				        </div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div ng-show="pageState == 'displayVerifyOtp'">
		<form ng-submit="verifyOtp(otp)" name="verifyOtpForm">
		    <div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 whitebox">
		        <div class="grid-100">
		            <div class="mobile-grid-100 grid-parent">
		                <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
		                    <h1 class="center grey">Type in Secret Code</h1>
		                    <p class="small grey mobile-grid-100 tablet-grid-100 grid-100"><span class="primary">Tell me a secret...</span><br />I need to know it's really you, so type in the secret code I sent to <span class="primary">{{verifiedPrincipal.name}}</span>.</p>
		                </div>
		            </div>
		            <div class="mobile-grid-100 grid-parent top-pad10">
			            <div class="mobile-grid-100 tablet-grid-100 grid-100">
				            <div id="messageDiv" class="result-error-value mobile-grid-95 mobile-suffix-5 tablet-grid-95 tablet-suffix-5 grid-85 prefix-5 suffix-10 messages">
			                	<p id="errorMessage" ng-bind-html="generalMessage" ng-show="generalMessage" class="error"></p>
				                <p ng-show="info" class="info">D'oh! Did you forget which email you used before? No worries, try another one or try entering a phone number. I'll be right here.</p>
				            </div>
		                    <input required name="enter_otp" ng-model="otp.value" id="enterOtpText" required numbersonly minlength='6' maxlength='6' size='6' class="mobile-grid-100 tablet-grid-100 grid-100 form-control" type="text" />
		                    <label for="enter_otp" translate>Enter OTP:</label>
		                </div>
		                <div class="mobile-grid-100 tablet-grid-100 grid-100">
		                    <input type="submit" id="findPrincipalsButton" class="btn primary mobile-grid-100 tablet-grid-100 grid-100" ng-disabled="verifyOtpForm.$invalid" value="Let's Go!" />
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 top-pad10">
		        <a id="resendOtpLink" href="javascript:void(0)" ng-click="resendOtp()" class="pull-right small plain primary">Oops, I don't see the secret! Pass it to me again</a>
		    </div>
		</form>
	</div>

	<div ng-show="pageState == 'displayChangeSecret'">
		<form ng-submit="resetSecret(password)" novalidate name="form" id="form">
			<div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 whitebox">
				<div class="grid-100">
		            <div class="mobile-grid-100 grid-parent">
		                <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
		                    <h1 class="center grey">Enter New Password</h1>
		                </div>
		            </div>
			        <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
			            <div class="mobile-grid-100 tablet-grid-100 grid-100 validate has-feedback">
							<div id="messageDiv" class="result-error-value mobile-grid-95 mobile-suffix-5 tablet-grid-95 tablet-suffix-5 grid-85 prefix-5 suffix-10 messages">
				                <p id="errorMessage" ng-bind-html="generalMessage" ng-show="generalMessage" class="error"></p>
				                <p id="passwordErrorMessages" ng-hide="!focus || pwdValidity" class="input-help error mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
									<span class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">Password must meet the following requirements:</span>
									<span id="passwordLetterError" ng-class="pwdHasLetter" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>one letter</strong></span>
									<span id="passwordNumberError" ng-class="pwdHasNumber" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>one number</strong></span>
									<span id="passwordCaptialError" ng-class="pwdHasCapLetter" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>one Capital Letter</strong></span>
									<span id="passwordCountError" ng-class="pwdValidLength" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>8 characters long</strong></span>
									<span id="passwordSpecialError" ng-class="pwdHasSpecial" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>1 Special Character</strong></span>
						            <span id="passwordConfirmationError" ng-class="{valid: passwordMatch}" class="mobile-grid-50 tablet-grid-50 grid-50" ng-show="confirmShown">Fields must <strong>Match</strong></span>
								</p>
			            	</div>
	                        <input password-validate type="password" 
	                                class="mobile-grid-100 tablet-grid-100 grid-100 form-control"
	                                id="createPasswordText" name="password" 
	                                required ng-model="password.newSecret" 
	                                data-password-verify="confirmPasswordText" ng-focus="focus=true;" ng-blur="focus=false;" />
	                        <label for="password">Create Password</label>
	                        <i class="glyphicon glyphicon-remove form-control-feedback red" ng-hide="form.password.$valid || form.password.$pristine || focus"></i>
	                        <i class="glyphicon glyphicon-ok form-control-feedback green" ng-hide="form.password.$invalid"></i>

			            </div>
	                    <div class="mobile-grid-100 tablet-grid-100 grid-100 validate has-feedback">
	                        <input password-validate type="password" 
	                                class="mobile-grid-100 tablet-grid-100 grid-100 form-control immediate-help no-border" 
	                                id="confirmPasswordText" name="confirmPassword" 
	                                required ng-model="password.confirmSecret" 
	                                data-password-verify="createPasswordText" ng-focus="focus=true; confirmfocus=true" ng-blur="focus=false; confirmfocus=false" />
	                        <label for="confirmPassword">Confirm Password</label>
	                        <i class="glyphicon glyphicon-remove form-control-feedback red" ng-hide="form.confirmPassword.$valid || form.confirmPassword.$pristine || confirmfocus"></i>
	                        <i class="glyphicon glyphicon-ok form-control-feedback green" ng-hide="form.confirmPassword.$invalid"></i>
	                    </div>
						<div class="mobile-grid-100 tablet-grid-100 grid-100 top-pad10">
							<input type="hidden" name="passwordMatch" id="passwordMatch" ng-model="user.passMatch">
							<p class="grey small mobile-grid-100 tablet-grid-100 grid-100 grid-parent"><strong>Click continue to agree to the <a id="termsAndConditionsLink" ui-sref="Modal.termsAndConditions" title="Terms of Service" class="primary plain" translate>Terms of Service</a> and <a id="privacyPolicyLink" ui-sref="Modal.privacyPolicy" class="primary plain">Privacy Policy</a>.</strong></p>
						</div>
						<div class="mobile-grid-100 tablet-grid-100 grid-100 top-pad10">
							<input type="submit" id="submitButton" class="btn primary mobile-grid-100 tablet-grid-100 grid-100" value="CONTINUE" ng-disabled="(form.$valid&&submitButtonEnabled) ?  false : true" />
						</div>
			        </div>
				</div>
			</div>
		</form>
	</div>	

	<div ng-show="pageState == 'displayChangeSuccess'">
		<form ng-submit="verifyOtp(otp)">
		    <div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 whitebox">
		        <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
		            <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
		                <div class="mobile-grid-100 tablet-grid-100 grid-100">
		                    <h1 class="center grey">Success</h1>
		                    <p class="small grey mobile-grid-100 tablet-grid-100 grid-100">Password changed successfully. Please Log In.</p>
		                </div>
		            </div>
		            <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent top-pad10">
		                <div class="mobile-grid-100 tablet-grid-100 grid-100">
		                	<input id="loginButton" value="Log In" class="btn primary mobile-grid-100 tablet-grid-100 grid-100" ng-click="logIn()">
		                </div>
		            </div>
		        </div>
		    </div>
		</form>
	</div>
</div>

<ng-include src="includes.footer"> </ng-include>