<ng-include src="includes.header"> </ng-include>
<div class="mobile-grid-100 grid-parent">
	<div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 center" ng-hide="increaseCredential == '2' || increaseCredential == '3'">
		<i class="fa fa-spinner fa-pulse" style="font-size: 10em" id="loadingSpinner"></i>
	</div>
	<div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 whitebox" ng-show="increaseCredential == '2' || increaseCredential == '3'">
		<div class="grid-100">
			<div id="credentialLevelInfoDiv" class="mobile-grid-100 grid-parent" ng-show="increaseCredential == '2' || increaseCredential == '3'">
				<div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100">
					<div data-ng-show="showCredentials" class="mobile-grid-100 grid-parent">
						<p class="small grey mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100">Current Credential Level: {{currentCredential}}</p>
						<p class="small grey mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 red">Required Credential Level: {{requiredCredential}}</p>
						<p ng-show="increaseCredential == '2'" class="small grey mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100">The integrated website would like you to supply us with a little more information.  This information will not be shared with relying party without your consent.</p>
						<p ng-show="increaseCredential == '3'" class="small grey mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100">Great Job! We are almost there, just a couple more things.</p>
					</div>
	        	</div>
				<div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100">
					<input type="button" id="logoutButton" ng-click="logout()" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 top-mar20 grid-100" value="No thanks">
		        </div>
    		</div>
			<div class="mobile-grid-100 grid-100 grid-parent relative top-pad40" ng-show="increaseCredential == '2'">
				<form ng-submit="saveProfile(profile)" name="profile_form" novalidate>
					<div id="attributeDiv" data-ng-repeat="attribute in profile.persona.attributes" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100">
		                <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'firstName'">
		                	<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="firstNameTooLongErrorMessage" class="error" ng-show="profile_form.firstName.$error.maxlength">Your first name is too long</p>
								<p id="firstNameAlphanumericErrorMessage" class="error" ng-show="profile_form.firstName.$error.pattern">Your first name must be alphanumeric</p>
								<p id="firstNameRequiredErrorMessage" class="error" ng-show="profile_form.firstName.$error.required && profile_form.firstName.$touched">Your first name is required</p>
		                	</div>
							<input type="text" id="firstNameText" name="{{attribute.field_name}}" ng-model="attribute.value" ng-pattern="/^[a-z0-9]+$/i" ng-maxlength="64" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
							<label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
			            </div>
						<div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'lastName'">
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="lastNameTooLongErrorMessage" class="error" ng-show="profile_form.lastName.$error.maxlength">Your last name is too long</p>
								<p id="lastNameAlphanumericErrorMessage" class="error" ng-show="profile_form.lastName.$error.pattern">Your last name must be alphanumeric</p>
								<p id="lastNameRequiredErrorMessage" class="error" ng-show="profile_form.lastName.$error.required && profile_form.lastName.$touched">Your first last is required</p>
							</div>
			                <input type="text" id="lastNameText" name="{{attribute.field_name}}" ng-model="attribute.value" ng-pattern="/^[a-z0-9]+$/i" ng-maxlength="64" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
			                <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
		                </div>
						<div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'middleName'">
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="middleNameTooLongErrorMessage" class="error" ng-show="profile_form.middleName.$error.maxlength">Your middle name is too long</p>
								<p id="middleNameAlphanumericErrorMessage" class="error" ng-show="profile_form.middleName.$error.pattern">Your middle name must be alphanumeric</p>
								<p id="middleNameRequiredErrorMessage" class="error" ng-show="profile_form.middleName.$error.required && profile_form.middleName.$touched">Your middle name is required</p>
							</div>
							<input type="text" id="middleNameText" name="{{attribute.field_name}}" ng-model="attribute.value" ng-pattern="/^[a-z0-9]+$/i" ng-maxlength="1" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
							<label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
		                </div>
		                <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'ssn'" >
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="ssnIncorrectLengthErrorMessage" class="error" ng-show="profile_form.ssn.$error.maxlength || profile_form.ssn.$error.minlength">Your SSN must be 4 digits</p>
								<p id="ssnNumericErrorMessage" class="error" ng-show="profile_form.ssn.$error.pattern">Your SSN must be numeric</p>
								<p id="ssnRequiredErrorMessage" class="error" ng-show="profile_form.ssn.$error.required && profile_form.ssn.$touched">Your SSN is required</p>
		                		<p ng-show="info" class="info"><b>Why are we asking for this?</b></br></br>Some of the places you access (e.g. healthcare.gov), ask for this information to validate that you truly are, well, you. The point is, you're in charge. Enter this information here once, and we'll escort that info safely only to those sites you want to see it. If you ever change your mind, come back and make the change here, once, and it's done. We'll never share your information unless you agree to it. Again, it's up to you, to be you, wherever you want to go.</p>
							</div>
							<div class="icon-info" ng-class="{ 'purple': info }" ng-click="info = !info"></div>
			                <input type="text" id="ssnText" name="{{attribute.field_name}}" ng-model="attribute.value" ng-pattern="/^[0-9]+$/i" ng-maxlength="4" ng-minlength="4" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
			                <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
		                </div>
		                <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'countryOfBirth'">
		                	<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
			                	<p id="countryOfBirthTooLongErrorMessage" class="error" ng-show="profile_form.countryOfBirth.$error.maxlength">Your country of birth is too long</p>
								<p id="countryOfBirthRequiredErrorMessage" class="error" ng-show="profile_form.countryOfBirth.$error.required && profile_form.countryOfBirth.$touched">Your country of birth is required</p>
		                	</div>
			    	        <input type="text" id="countryOfBirthText" name="{{attribute.field_name}}" ng-maxlength="100" ng-model="attribute.value" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
			    	        <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
		            	</div>
			            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'stateOfBirth'">
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="stateOfBirthTooLongErrorMessage" class="error" ng-show="profile_form.stateOfBirth.$error.maxlength">Your state of birth is too long</p>
								<p id="stateOfBirthRequiredErrorMessage" class="error" ng-show="profile_form.stateOfBirth.$error.required && profile_form.stateOfBirth.$touched">Your state of birth is required</p>
							</div>
		        	        <input type="text" id="stateOfBirthText" name="{{attribute.field_name}}" ng-maxlength="100" ng-model="attribute.value" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
		        	        <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
			            </div>
		            	<div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'birthDate'">
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="birthDateTooLongErrorMessage" class="error" ng-show="profile_form.birthDate.$error.maxlength">Your date of birth is too long</p>
								<p id="birthDateNumericErrorMessage" class="error" ng-show="profile_form.birthDate.$error.pattern">Your data of birth must be numeric</p>
								<p id="birthDateRequiredErrorMessage" class="error" ng-show="profile_form.birthDate.$error.required && profile_form.birthDate.$touched">Your date of birth is required</p>
							</div>
		                	<input type="text" id="birthDateText" name="{{attribute.field_name}}" ng-pattern="/^[0-9-]+$/i" ng-maxlength="10" ng-model="attribute.value" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
		                	<label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}} (yyyy-mm-dd)</label>
		                </div>
		    	        <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'addressLine1'">
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="addressLine1TooLongErrorMessage" class="error" ng-show="profile_form.addressLine1.$error.maxlength">Your address is too long</p>
								<p id="addressLine1AlphaNumericErrorMessage" class="error" ng-show="profile_form.addressLine1.$error.pattern">Your address must be alphanumeric</p>
								<p id="addressLine1RequiredErrorMessage" class="error" ng-show="profile_form.addressLine1.$error.required && profile_form.addressLine1.$touched">Your address is required</p>
							</div>
		                    <input type="text" id="addressLine1Text" name="{{attribute.field_name}}" ng-pattern="/^[a-z0-9' ']+$/i" ng-maxlength="64" ng-model="attribute.value" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
		                    <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
		                </div>
			            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'addressLine2'">
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="addressLine2TooLongErrorMessage" class="error" ng-show="profile_form.addressLine2.$error.maxlength">Your address is too long</p>
								<p id="addressLine2AlphaNumericErrorMessage" class="error" ng-show="profile_form.addressLine2.$error.pattern">Your address must be alphanumeric</p>
								<p id="addressLine2RequiredErrorMessage" class="error" ng-show="profile_form.addressLine2.$error.required && profile_form.addressLine2.$touched">Your address is required</p>
							</div>
			        	    <input type="text" id="addressLine2Text" name="{{attribute.field_name}}"  ng-pattern="/^[a-z0-9' ']+$/i" ng-maxlength="64" ng-model="attribute.value" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
			        	    <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
		        	    </div>
			            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'addressCity'">
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="addressCityTooLongErrorMessage" class="error" ng-show="profile_form.addressCity.$error.maxlength">City name is too long</p>
								<p id="addressCityAlphanumericErrorMessage" class="error" ng-show="profile_form.addressCity.$error.pattern">City name must be alphanumeric</p>
								<p id="addressCityRequiredErrorMessage" class="error" ng-show="profile_form.addressCity.$error.required && profile_form.addressCity.$touched">City name is required</p>
							</div>
		        	        <input type="text" id="addressCityText" name="{{attribute.field_name}}" ng-pattern="/^[a-z0-9' ']+$/i" ng-maxlength="64" ng-model="attribute.value" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
		        	        <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
			            </div>
		                <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'addressState'">
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">	
								<p id="addressStateRequiredErrorMessage" class="error" ng-show="profile_form.addressState.$error.required && profile_form.addressState.$touched">State is required</p>
							</div>
		    	            <input type="text" id="addressStateText" name="{{attribute.field_name}}" ng-model="attribute.value" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
		    	            <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
		            	</div>
			            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'addressCountry'">
				            <div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="addressCountryRequiredErrorMessage" class="error" ng-show="profile_form.addressCountry.$error.required && profile_form.addressCountry.$touched">Address country is required</p>
							</div>
		        	        <input type="text" id="addressCountryText" name="{{attribute.field_name}}" ng-model="attribute.value" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
		        	        <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
		            	</div>
			            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 info" ng-if="attribute.field_name == 'addressZip'">
							<div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-95 messages">
								<p id="addressZipTooLongErrorMessage" class="error" ng-show="profile_form.addressZip.$error.maxlength">Your Zipcode is too long</p>
								<p id="addressZipAlphanumericErrorMessage" class="error" ng-show="profile_form.addressZip.$error.pattern">Your Zipcode must be alphanumeric</p>
								<p id="addressZipRequiredErrorMessage" class="error" ng-show="profile_form.addressZip.$error.required && profile_form.addressZip.$touched">Your Zipcode is required</p>
							</div>
		        	        <input type="text" id="addressZipText" name="{{attribute.field_name}}" ng-pattern="/^[a-z0-9' ']+$/i" ng-maxlength="16" ng-model="attribute.value" ng-required="{{attribute.required}}" class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 form-control">
		        	        <label ng-class="{empty:attribute.value == ''}" for="{{attribute.field_name}}">{{attribute.field_label}}</label>
			            </div>
		    	    </div>
		            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100">
		                <input type="submit" id="profileSubmitButton" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 top-mar20 grid-100" value="Let's Go!" ng-disabled="(profile_form.$valid&&profileSubmitButtonEnabled) ?  false : true" />
			        </div>
				</div>
			</form>
		</div>
		<div class="mobile-grid-100 grid-100 grid-parent relative top-pad40" ng-show="increaseCredential == '3'">
            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100">
                <div class="mobile-grid-100 grid-parent relative whitebox top-mar10">
                    <form>
                        <div id="kbaQuestionsDiv" ng-repeat="question in kba.questions" class="small">
                            <p><strong>{{question.text}}</strong></p>
                            <div data-ng-repeat="choice in question.choices">
                                <input type='radio' ng-model='question.answer' name='{{choice.choiceId}}{{choice.text}}' value='{{choice.choiceId}}' id="{{choice.choiceId}}{{choice.text}}">
                                <label for="{{choice.choiceId}}{{choice.text}}" class="showLabel">{{choice.text}}</label>
                            </div>
                        </div>
                        <div class="mobile-grid-100 grid-parent top-pad10">
                            <input id="kbaSubmitButton" type="button" ng-click="submitKba()" value="Let's Go!" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5">
                        </div>
                   </div>
                </form>
            </div>
		</div>
	</div>
</div>

<div style="height: 1px; width: 1px">
	<form id="saml_form" action="/" method="POST" enctype="application/x-www-form-urlencoded">
		<!-- The following input does not meet normal standards for input naming because of the SAML spec -->
		<input type="hidden" id="SAMLResponse" name="SAMLResponse" />
	</form>
</div>

<ng-include src="includes.footer"> </ng-include>
