<header class="center">
    <a href="{{APP_ROOT}}" id="logoHeaderLink"></a>
</header>
<div ng-show="pageState == 'displayCreatePin'">
    <div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 whitebox">
        <div class="grid-100">    
            <div class="mobile-grid-100 grid-parent">
                <div class="mobile-grid-100 tablet-grid-100 grid-100">
                    <h1 class="center grey">Create PIN</h1>
                    <form ng-submit="resetPin(pin)" novalidate name="form">
                        <div class="mobile-grid-100 grid-parent relative top-mar10">
                            <div class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-80 prefix-10 suffix-10">
                                <p id="pinErrorMessage" ng-bind-html="messages" ng-show="messages" class="error"></p>                      
                            </div>
                            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5">
                                <label for="pin">Create New PIN</label>
                                <input placeholder="Create New PIN" type="password" 
                                        class="mobile-grid-100 tablet-grid-100 grid-100 form-control"
                                        id="pin" name="pin" 
                                        required ng-model="pin.newPin" numbersonly minlength='4' maxlength='4'
                                        data-password-verify="confirmPassword" ng-focus="focus=true;" ng-blur="focus=false;" />
                            </div>
                            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5">
                                <label for="confirmPin">Confirm New PIN</label>
                                <input placeholder="Confirm New PIN" type="password" 
                                        class="mobile-grid-100 tablet-grid-100 grid-100 form-control immediate-help no-border" 
                                        id="confirmPin" name="confirmPin" 
                                        required ng-model="pin.confirmPin" numbersonly minlength='4' maxlength='4'
                                        data-password-verify="password" ng-focus="focus=true;" ng-blur="focus=false;" />
                            </div>
                            <input type="hidden" id="passwordMatchText" name="passwordMatch" ng-model="user.passMatch">
                        </div>                
                        <div class="mobile-grid-100 top-pad10">
                            <input type="submit" id="changePinButton" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 grid-100" value="SUBMIT" ng-disabled="form.$invalid" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="pageState == 'displayCreateSuccess'">
    <div class="mobile-grid-100 tablet-grid-60 tablet-suffix-20 tablet-prefix-20 grid-40 prefix-30 suffix-30 whitebox">
        <div class="grid-100">    
            <div class="mobile-grid-100 grid-parent">
                <div class="mobile-grid-100 tablet-grid-100 grid-100">
                    <h1 class="center grey">Change Success</h1>
                    <p id="pinChangeSuccessMessage">Pin changed successfully.</p>
                </div>
            </div>
        </div>
    </div>
</div>