<header class="ng-cloak fixed">
    <div class="grid-container" ng-class="center">
        <a href="{{APP_ROOT}}" id="logoHeaderLink"></a>
    </div>
</header>

<div ng-show="pageState == 'invalidTransaction'">
    <div class="mobile-grid-100 grid-100 profile grid-parent top-pad20 bottom-pad20 bottom-mar15">
        <div class="mobile-grid-100" collapse="transactionOpen">
            <div class="mobile-grid-100 tablet-grid-100 grid-100">
                <p>The transaction cannot be processed</p>
            </div>
        </div>
    </div>
</div>

<div ng-show="pageState == 'notFound'">
    <div class="mobile-grid-100 grid-100 profile grid-parent top-pad20 bottom-pad20 bottom-mar15">
        <div class="mobile-grid-100" collapse="transactionOpen">
            <div class="mobile-grid-100 tablet-grid-100 grid-100">
                <p>The transaction did not load properly</p>
            </div>
        </div>
    </div>
</div>

<div ng-show="pageState == 'canceled'">
    <div class="mobile-grid-100 grid-100 profile grid-parent top-pad20 bottom-pad20 bottom-mar15">
        <div class="mobile-grid-100" collapse="transactionOpen">
            <div class="mobile-grid-100 tablet-grid-100 grid-100">
                <p>The transaction update has been canceled</p>
            </div>
        </div>
    </div>
</div>

<div ng-show="pageState == 'updateSuccess'">
    <div class="mobile-grid-100 grid-100 profile grid-parent top-pad20 bottom-pad20 bottom-mar15">
        <div class="mobile-grid-100" collapse="transactionOpen">
            <div class="mobile-grid-100 tablet-grid-100 grid-100">
                <p>The update was successful</p>
            </div>
        </div>
    </div>
</div>

<div ng-show="pageState == 'updateFailure'">
    <div class="mobile-grid-100 grid-100 profile grid-parent top-pad20 bottom-pad20 bottom-mar15">
        <div class="mobile-grid-100" collapse="transactionOpen">
            <div class="mobile-grid-100 tablet-grid-100 grid-100">
                <p>There was a problem updating the transaction</p>
            </div>
        </div>
    </div>
</div>

<div class="mobile-grid-100 grid-100 profile grid-parent" ng-show="pageState == 'transactionLoaded'">
    <div class="mobile-grid-100 grid-100 profile grid-parent bottom-pad20 bottom-mar15">
        <div ng-if="!transaction.message_html" class="mobile-grid-100">
            <div class="mobile-grid-60 tablet-grid-60 grid-60 grid-parent">{{transaction.message_subject}}</div>
            <div class="mobile-grid-40 tablet-grid-40 grid-40 grid-parent" ng-click="getTransactionDetail(transaction); transactionOpen = !transactionOpen" >
                <span class="pull-right">{{transaction.rp_name}}</span>
            </div>
        </div>

        <div class="mobile-grid-100 grid-parent" collapse="transactionOpen">
            <div ng-if="!transaction.message_html" class="mobile-grid-100 tablet-grid-100 grid-100">
                <p>{{transaction.message_body}}</p>
            </div>
            <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent top-pad20" ng-show="transaction.display == 'enter_password'">
                <form>
                    <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
                        <input type="password" class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent form-control" id="{{transaction.uuid}}" name="{{transaction.uuid}}" ng-model="transaction.password">
                        <label class="empty" for="{{transaction.uuid}}">Enter Password</label>
                    </div>

                    <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
                        <input type="submit" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-45 suffix-5 top-mar20" value="Submit" ng-click="submitPassword(transaction)" ng-disabled="form.$pristine" />
                        <input type="cancel" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-45 prefix-5 top-mar20" value="Cancel" ng-click="cancel()" />
                    </div>
                </form>
            </div>
            <div class="mobile-grid-100 tablet-grid-100 grid-100 top-pad20" ng-show="transaction.display == 'enter_pin'">
                <form>
                    <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
                        <input type="password" class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent form-control" id="{{transaction.uuid}}" name="{{transaction.uuid}}" ng-model="transaction.pin">
                        <label class="empty" for="{{transaction.uuid}}">Enter Pin</label>
                    </div>

                    <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
                        <input type="submit" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-45 suffix-5 top-mar20" value="Submit" ng-click="submitPin(transaction)" ng-disabled="form.$pristine" />
                        <input type="cancel" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-45 prefix-5 top-mar20" value="Cancel" ng-click="cancel()" />
                    </div>
                </form>
            </div>
            <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent" ng-show="transaction.display == 'transaction_detail'">
                <form>
                    <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
                        <div ng-if="!transaction.message_html" class="grid-100 grid-parent">
                            <p class="grid-40 grid-parent">Requesting RP:</p><p class="grid-60 grid-parent">{{transaction.rp_name}}</p>
                        </div>
                        <div ng-if="!transaction.message_html" class="grid-100 grid-parent">
                            <p class="grid-40 grid-parent">Title:</p><p class="grid-60 grid-parent">{{transaction.message_subject}}</p>
                        </div>
                        <div class="mobile-grid-100 grid-100 grid-parent">
                            <div class="mobile-grid-100 tablet-grid-100 grid-100 grid-parent" ng-if="transaction.message_html" ng-bind-html-unsafe="transaction.message_html" ng-image-data="transaction.message_images"></div>
                            <div ng-if="!transaction.message_html"><p class="grid-40 grid-parent">Message:</p><p class="grid-60 grid-parent">{{transaction.message_body}}</p></div>
                        </div>
                    </div>
                    <div class="mobile-grid-100 tablet-grid-100">
                        <input type="button" class="btn primary mobile-grid-30 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-30 top-mar20" value="Yes" ng-click="answerTransaction(transaction, true)" />
                        <input type="button" class="btn primary mobile-grid-30 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-30 prefix-5 suffix-5 top-mar20" value="No" ng-click="answerTransaction(transaction, false)" />
                        <input type="cancel" class="btn primary mobile-grid-30 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-30 top-mar20" value="Cancel" ng-click="cancel()" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
