<header class="ng-cloak fixed">
    <div class="grid-container" ng-class="center">
        <a href="{{APP_ROOT}}" id="logoHeaderLink"></a>
    </div>
</header>

<div ng-show="pageState == 'displayChangeSecret'">
	<div class="col-sm-5 col-sm-offset-3 form-bk-one">
		<div class="row status-bk-one">
		</div>
		<form ng-submit="resetSecret(password)" novalidate name="form">
			<h1 translate>Enter New Password</h1>
            <div class="mobile-grid-100 grid-parent relative top-mar10">
                <div id="messages" class="result-error-value mobile-grid-100 tablet-grid-80 tablet-prefix-10 tablet-suffix-10 grid-80 prefix-10 suffix-10">
                    <p ng-bind-html="messages" ng-show="messages" class="error"></p>
                    <p ng-hide="!focus || pwdValidity" class="input-help error mobile-grid-100 tablet-grid-100 grid-100 grid-parent">
                        <span class="large">Password must meet the following requirements:</span>
                        <span ng-class="pwdHasLetter" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>one letter</strong></span>
                        <span ng-class="pwdHasNumber" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>one number</strong></span>
                        <span ng-class="pwdHasCapLetter" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>one Capital Letter</strong></span>
                        <span ng-class="pwdValidLength" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>8 characters long</strong></span>
                        <span ng-class="pwdHasSpecial" class="mobile-grid-50 tablet-grid-50 grid-50">At least <strong>1 Special Character</strong></span>
                        <span ng-class="{valid: passwordMatch}" class="mobile-grid-50 tablet-grid-50 grid-50" ng-show="confirmShown">Fields must <strong>Match</strong></span>
                    </p>                            
                </div>
                <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 validate has-feedback">
                    <input type="password" 
                            class="mobile-grid-100 tablet-grid-100 grid-100 form-control"
                            id="oldPassword" name="oldPassword" minlength='8'
                            required ng-model="password.secret" />
                    <label for="oldPassword">Existing Password</label>        
                </div>
                <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 validate has-feedback">
                    <input password-validate type="password" 
                            class="mobile-grid-100 tablet-grid-100 grid-100 form-control"
                            id="password" name="password" 
                            required ng-model="password.newSecret" 
                            data-password-verify="confirmPassword" ng-focus="focus=true;" ng-blur="focus=false;" />
                            <i class="glyphicon glyphicon-remove form-control-feedback red" ng-hide="form.password.$valid || form.password.$pristine || focus"></i>
                            <i class="glyphicon glyphicon-ok form-control-feedback green" ng-hide="form.password.$invalid"></i>
                    <label for="password">Create New Password</label>        
                </div>
                <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 validate has-feedback">
                    <input password-validate type="password" 
                            class="mobile-grid-100 tablet-grid-100 grid-100 form-control immediate-help no-border" 
                            id="confirmPassword" name="confirmPassword" 
                            required ng-model="password.confirmSecret" 
                            data-password-verify="password" ng-focus="focus=true;" ng-blur="focus=false;" />
                            <i class="glyphicon glyphicon-remove form-control-feedback red" ng-hide="form.confirmPassword.$valid || form.confirmPassword.$pristine || confirmfocus"></i>
                            <i class="glyphicon glyphicon-ok form-control-feedback green" ng-hide="form.confirmPassword.$invalid"></i>
                            <label for="confirmPassword">Confirm New Password</label>
                </div>
                <input type="hidden" name="passwordMatch" id="passwordMatch" ng-model="user.passMatch">
            </div>                
            <div class="mobile-grid-100 grid-parent top-pad10">
				<input type="submit" id="changePassword" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 top-mar20 grid-60 pull-right" ng-disabled="form.$invalid" value="SUBMIT" />
            </div>
        </form>
    </div>
</div>

	<div ng-show="pageState == 'displayChangeSuccess'">
    <div class="col-sm-5 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-12">
                <h1 translate>Success</h1>
            </div>
        </div>
        <br />
        <p translate class="large-label">
          Password changed successfully.
        </p>
        </div>
    </div>