<ng-include src="includes.header"> </ng-include>

<div class="grid-container">
    <div class="grid-100 prefix-5">

        <div class="profile grid-100 grid-parent top-pad20">
            <div class="mobile-grid-100 tablet-grid-100 grid-100">
                Select Role/RP:
                <select ng-change="updateSelectedRP(selectedRP)" ng-model="selectedRP" ng-if="selfUserRoles.length > 1">
                    <option ng-repeat="role in selfUserRoles" value="{{$index}}" >{{role.role_name}} - {{role.rp_name}}</option>
                </select>
            </div>
        </div>

        <div class="profile grid-100 grid-parent top-pad20">
            <div class="mobile-grid-90 mobile-prefix-5 mobile-suffix-5 grid-parent tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-80 prefix-10 suffix-10">
                <div class="mobile-grid-100 grid-parent top-mar20">
                    User Search
                </div>
                <div class="mobile-grid-100 grid-parent top-mar20">
                    <div class="grid-50 grid-parent ">
                        <select name="rolepermissions" ng-model="selectedRole" class="mobile-grid-100 tablet-grid-100 grid-100 form-control">
                            <option ng-repeat="role in rolepermissions" value="{{role.name}}">
                                {{role.name}}
                            </option>
                        </select>
                    </div>
                    <div class="grid-50 grid-parent left-pad20">
                        <input type="button" id="roleSearchButton" ng-click="searchUserByRole()" value="Search By Roles" class="btn primary mobile-grid-100 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100 pad10">
                    </div>
                </div>

                <div class="mobile-grid-100 grid-parent top-mar20 border-bottom">
                    <div class="grid-50 grid-parent">
                        <input type="text" id="principalSearchText" placeholder="Enter Principal" ng-model="principalSearch" class="form-control stretch-input">
                    </div>
                    <div class="grid-50 grid-parent left-pad20">
                        <input type="button" id="roleSearchButton"  ng-click="searchByPrincipal()" value="Search By Principal" class="btn primary mobile-grid-100 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-100">
                    </div>
                </div>
                <div class="mobile-grid-100 grid-parent top-mar20 bottom-mar20" ng-if="searchResultMessage">
                    {{searchResultMessage}}
                </div>

                <div class="mobile-grid-100 grid-parent top-mar20 top-mar20" ng-if="users && canAssignRoles">
                    Role Management
                </div>
                <div class="mobile-grid-100 grid-parent top-mar20 border-bottom" ng-if="users && canAssignRoles">
                    <div class="grid-25">
                        <select ng-click="toggleRoleAssignmentButtons()" id="selectedRolesInput" ng-multiple="true" multiple="true" size="5" ng-model="selectedRoles" ng-options="c.name for c in assignableRoles"></select>
                    </div>
                    <div class="grid-25">
                        <select ng-click="toggleRelyingPartiesButtons()" id="selectedRelyingPartyInput" ng-multiple="true" multiple="true" size="5" ng-model="selectedRelyingParties" ng-options="c.name for c in relyingParties"></select>
                    </div>
                    <div class="grid-25">
                        <input id="addRolesButton" ng-disabled="assignRoleButtonDisabled" ng-click="addRoles()" type="button" value="Add Roles" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-60 pull-right">
                        <input id="removeRolesButton" ng-disabled="assignRoleButtonDisabled" ng-click="removeRoles()" type="button" value="Remove" class="btn primary mobile-grid-90 mobile-prefix-5 mobile-suffix-5 tablet-grid-90 tablet-prefix-5 tablet-suffix-5 grid-60 pull-right top-mar20">
                    </div>
                </div>

                <div class="mobile-grid-100 grid-parent top-mar20" ng-if="users">
                    Search Results: {{searchResultsNumber}}
                </div>
                <div class="mobile-grid-100 grid-parent top-mar20" ng-if="users">
                    <div class="grid-25">
                        <span class="{{emailSortClass}}" ng-click="changeSort('email')">Primary Email</span>
                    </div>
                    <div class="grid-40">
                        <span class="{{roleSortClass}}" ng-click="changeSort('roles')">Roles</span>
                    </div>
                    <div class="grid-15">
                        Link to Profile
                    </div>
                    <div class="grid-20" ng-if="canAssignRoles">
                        Select
                    </div>
                </div>
                <div class="mobile-grid-100 grid-parent top-mar20" ng-if="users" ng-repeat="user in users">
                    <div class="grid-25">
                        {{user.primaryemail}}&nbsp;
                    </div>
                    <div class="grid-40">
                        <select >
                            <option data-ng-repeat="role in user.allroles" value="{{role.name}}">{{role.name}} - {{role.rp_name}}</option>
                        </select>
                    </div>
                    <div class="grid-15">
                        <a href="#">Profile</a>
                    </div>
                    <div class="grid-20" ng-if="canAssignRoles">
                        <input type="checkbox" class='visible-checkbox' id="user_checkbox_{{$index}}" ng-click="toggleRoleAssignmentButtons()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-include src="includes.footer"> </ng-include>